@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-image: url('../public/img/main.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  padding: 30px;

}

.search {
  width: 100%;
  margin: 0 0 85px;
}

h1{
  font-weight: 800;
}

.search .search-bar {
  display: block;
  width: 95%;
  padding: 10px;
  margin: auto;

  border: none;
  outline: none;
  appearance: none;
  background: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 25px;

  font-size: 18px;

  transition: 0.4s ease;

}

.search .search-bar:focus {
  background-color: rgba(255,255,255,0.75);
}

.location-box .location {
  color: white;
  font-weight: 300;
  font-size: 24px;
}


.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  margin-top: 0;
  color: white;
  font-size: 45px;

}